services: # Определяем список сервисов (контейнеров)

  shopapp: # Имя сервиса для твоего Django-приложения
    build:                   # Указываем как собирать образ (локальный Dockerfile)
      dockerfile: ./Dockerfile  # Путь к Dockerfile
    command:                 # Команда, которая выполняется при старте контейнера
      - gunicorn             # Запускаем Gunicorn (сервер WSGI)
      - mysite.wsgi:application # Указываем точку входа WSGI приложения
      - --bind         # Флаг, чтобы указать адрес/порт для Gunicorn
      - "0.0.0.0:8080"       # Слушаем все интерфейсы внутри контейнера на порту 8080
    ports:                   # Проброс портов между хостом и контейнером
      - "8000:8080"           # Слушаем все интерфейсы в контейнере на порту 8080
    restart: always
    env_file:
      - .env
    volumes:                 # Примонтированные директории/файлы для постоянного хранения
      - ./mysite/uploads:/app/uploads        # Подключаем папку с загруженными файлами
      - ./mysite/database:/app/database    # Подключаем файл базы данных SQLite

#    logging:
#      driver: loki
#      options:
#        loki-url: http://localhost:3100/loki/api/v1/push
##        loki-url: http://host.docker.internal:3100/loki/api/v1/push
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"

  grafana: # Сервис для Grafana (дашборды и визуализация логов)
    image: grafana/grafana:12.4.0-20082909961-ubuntu  # Образ Grafana для Ubuntu
    environment:             # Переменные окружения для конфигурации Grafana
      - GF_AUTH_ANONYMOUS_ENABLED=true      # Разрешаем анонимный доступ
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin    # Анонимный пользователь имеет права Админа
    ports:
      - "3000:3000"          # Внешний порт 3000 → порт Grafana внутри контейнера

  loki: # Сервис для Loki (хранилище логов)
    image: grafana/loki:3.5.0 # Образ Loki последней стабильной версии
    ports:
      - "3100:3100"          # Внешний порт 3100 → порт Loki внутри контейнера
